body {
    font-family: 'Poppins', sans-serif;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/533/463/577/abstract-texture-simple-simple-background-wallpaper-preview.jpg");
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    align-items: center;
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2 {
    color: #020306;
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .nav-button {
    padding: 10px 20px;
    border: none;
    background-color: #053367;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .nav-button:hover {
    background-color: #357ABD;
  }
  
  input, button {
    align-items: center;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  input {
    align-items: center;
    background-color: #f8f8f8;
  }
  
  button {
    background-color: #2867ab;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #1e93d6;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border-left: 5px solid #4a90e2;
  }
  
  /* New Style for Balance Blocks */
  .balance-block {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #4a90e2;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .container {
      width: 100%;
      padding: 10px;
    }
  }